*{
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

body, header {
    background-color: rgb(230, 230, 230);
    margin: 0;
}

.Bienvenida {
    display: flex;
    align-items: center;
    background: url("https://www.uax.com/var/site/storage/images/_aliases/gradient_bg/9/8/2/6/256289-3-esl-ES/d39bfdd7e392-spot-fab.jpg") no-repeat;
    background-size: cover;
    height: 50vw;
    flex-flow: row wrap;
    font-family: 'PT Sans', sans-serif;
    color: #eee;
}

.Inicio>h1 {
    font-size: 3rem;
    margin-left: 3vw;
    margin-bottom: -0.1rem;
}

.Inicio>a {
    display: flex;
    margin-left: 3.5vw;
    font-size: 1rem;
    width: 80%;
}

.Instalaciones,
.Titulaciones {
    margin: 2vw 1rem;
    padding: 0.1rem;
    background-color: rgb(230, 230, 230);
    font: 1rem 'PT Sans', sans-serif;
    display: flex;
    text-align: left;
    flex-flow: row wrap;
}

.Instalaciones>h2,
.Titulaciones>h2 {
    margin: .5rem;
    padding: .6rem;
    font-size: 2rem;
    border-radius: 1.2rem;
    background-color: rgb(9, 97, 175);
    color: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.19);
}

.grados {
    margin: .5rem;
    padding: .6rem;
    font-size: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.19);
}

.grados {
    color: #000000;
}

.instalacion {
    margin: .5rem;
    padding: .6rem;
    font-size: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.19);
    align-items: flex-end;
    align-content: flex-end;
    color: #ffffff;
    height: 30rem;
}

#instalacion1 {
    background:linear-gradient(rgba(70, 131, 180, 0), rgb(0, 3, 10)) ,url("https://www.uax.com/var/site/storage/images/6/2/8/1/61826-4-esl-ES/distribuidor-fablab.jpg");
    background-size: cover;
    background-position: top;
}

#instalacion2 {
    background:linear-gradient(rgba(70, 131, 180, 0),rgb(0, 3, 10)) ,url("https://www.uax.com/var/site/storage/images/8/0/5/7/87508-1-esl-ES/distributiva-biolab.jpg");
    background-size: cover;
    background-position: center;
}

#instalacion3 {
    background:linear-gradient(rgba(70, 131, 180, 0), rgb(0, 3, 10)) ,url("https://www.uax.com/var/site/storage/images/1/2/7/8/18721-11-esl-ES/distribuidor-uax-fitness.jpg");
    background-size: cover;
    background-position: center;
}

#instalacion4 {
    background:linear-gradient(rgba(70, 131, 180, 0),rgb(0, 3, 10)) ,url("https://www.uax.com/var/site/storage/images/6/4/6/8/18646-6-esl-ES/distribuidor-hospital-virtual-simulacion.jpg");
    background-size: cover;
    background-position: center;
}


.instalacion:hover,
.grados:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.01);
}

#div1 {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.title {
    font-size: 10rem;
    text-align: center;
    width: 100%;
}

.subtitle {
    font-size: 1.2rem;
}

.instlacion,
.grados {
    background-color: rgb(230, 230, 230);
}

.instalacion>h3 {
    margin: .2rem;
    font-size: 1.7rem;
}

.instalacion>p 
.grados>h3,
.grados>p {
  margin: .2rem;
}



.instalacion>a,
.grados>a {
    margin: .2rem;
    font-size: 1rem;
    text-decoration: none;
    color: gray
}

p {
    font: 1rem 'PT Sans', sans-serif;
}

#col1, #col2, #col3 {
    border-width: 0;
}

footer {
    color: grey;
    text-align: center;
}

.image {
    display: flex;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 0.4rem;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-image: linear-gradient(rgb(230, 230, 230) 20%, rgba(230, 230, 230, 100));
    padding: 3rem 2rem;
    transition: 0.4s;
    z-index: 99;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.19);
}

#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'PT Sans', sans-serif;
    border-radius: 2rem;
}

#navbar #logo {
    margin-left: 2%;
    margin-bottom: 0%;
    transition: 0.4s;
    max-width: 25%;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 2rem;
}

#navbar a.active {
    background-color: rgb(9, 97, 175);
    color: white;
}

#navbar-right {
    float: right;
    margin-right: 2rem;
}

.duper, #myLinks, a.icon {
    width: 0;
}

@media screen and (min-width: 580px) {
    html {
        font-size: 10px;
    }

    .Instalaciones,
    .Titulaciones {
        margin-top: 2rem;
    }

    .topnav {
        visibility: hidden;
        margin-top: -2rem;
    }

    #navbar #logo {
        display: flex;
        flex-shrink: 2;
        width: 16rem;
        margin: 1rem;
    }

    #div1 {
        width: 50%;
    }

    .Inicio>h1 {
        font-size: 5rem;
    }

    .Inicio>a {
        font-size: 1rem;
    }

    .Bienvenida {
        margin-top: 10rem;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 10px;
    }

    .Instalaciones,
    .Titulaciones {
        margin-top: 1vw;
    }

    .topnav {
        visibility: hidden;
        margin-top: -2rem;
    }

    #navbar a {
        font-size: 1.2rem;
    }

    #navbar #logo {
        display: flex;
        flex-shrink: 2;
        width: 16rem;
        margin: 1rem;
    }

    #div1 {
        width: 25%;
    }

    .Inicio>h1 {
        font-size: 6rem;
    }

    .Inicio>a {
        font-size: 2rem;
    }

    .Bienvenida {
        margin-top: 10rem;
        height: 35vw;
    }
}

@media screen and (max-width: 580px) {
    html {
        font-size: 10px;
    }

    .mobile-container {
        display: flex;
        align-items: flex-start;
        max-width: 1rem;
        background-color: rgb(230, 230, 230);
        height: 0rem;
        color: white;
    }

    .topnav {
        overflow: hidden;
        position: fixed;
        top: 0rem;
        background-color: rgb(230, 230, 230);
        width: 100%;
        z-index: 99;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.19);
    }

    .topnav #myLinks {
        display: none;
        align-items: center;
        align-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    .topnav a {
        color: rgb(8, 8, 8);
        background-color: #dddddd00;
        padding: 1rem 4rem;
        text-decoration: none;
        font-size: 16px;
        display: block;
        font-family: 'PT Sans', sans-serif;
        border-radius: 4rem;
        padding-left: 2rem;
        width: 100%;
    }

    .topnav a.icon {
        background: rgba(230, 230, 230, 0);
        display: block;
        position: absolute;
        right: 0rem;
        top: 0rem;
        padding: 1.2rem 2.5rem;
        text-align: right;
    }

    .topnav a.left {
        display: flex;
        align-items: center;
        padding-right: 60vw;
        margin-left: 15vw;
        background-color: rgb(9, 97, 175);
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #eee;
        transition: .5s ease;

    }

    .topnav a:hover {
        color: rgb(9, 97, 175);

    }

    .topnav a.left:hover {
        background-color: rgb(183, 183, 183);
    }

    .duper {
        background-color: rgb(230, 230, 230);
        color: rgb(12, 12, 12);
        width: 11rem;
    }

    .navbar, #navbar-right, #logo, #navbar {
        visibility: hidden;
    }

    .Instalaciones,
    .Titulaciones {
        margin-top: 1vw;
    }

    #div1 {
        width: 100%;
    }

    .Inicio>h1 {
        font-size: 2.5rem;
    }

    .Inicio>a {
        font-size: 0.6rem;
    }

    .Bienvenida {
        margin-top: 0rem;
    }
}