*{
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

body, header {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.Bienvenida {
    display: flex;
    align-items: center;
    background: url("https://www.uax.com/var/site/storage/images/_aliases/gradient_bg/9/8/2/6/256289-3-esl-ES/d39bfdd7e392-spot-fab.jpg") no-repeat;
    background-size: cover;
    height: 40rem;
    flex-flow: row wrap;
    font-family: 'PT Sans', sans-serif;
    color: #eee;
}

.Inicio>h1 {
    font-size: 3rem;
    margin-left: 3vw;
    margin-bottom: -0.1rem;
}

.Inicio>a {
    display: flex;
    margin-left: 3.5vw;
    font-size: 1rem;
    width: 80%;
}

.Instalaciones,
.Titulaciones {
    margin: 2vw 1rem;
    padding: 0.1rem;
    background-color: rgb(255, 255, 255);
    font: 1rem 'PT Sans', sans-serif;
    display: flex;
    text-align: left;
    flex-flow: row wrap;
}

.Instalaciones>h2,
.Titulaciones>h2 {
    margin: .5rem;
    padding: .6rem;
    font-size: 2rem;
    border-radius: 1.2rem;
    background-color: rgb(207, 172, 12);
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.19);
}

.grados {
    margin: .5rem;
    padding: .6rem;
    font-size: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.19);
}

.grados {
    color: #000000;
}

.instalacion {
    margin: .5rem;
    padding: .6rem;
    font-size: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.19);
    align-items: flex-end;
    align-content: flex-end;
    color: #ffffff;
    height: 30rem;
}

#instalacion1 {
    background:linear-gradient(rgba(70, 131, 180, 0), rgb(0, 3, 10)) ,url("https://www.uax.com/var/site/storage/images/6/2/8/1/61826-4-esl-ES/distribuidor-fablab.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#instalacion2 {
    background:linear-gradient(rgba(70, 131, 180, 0),rgb(0, 3, 10)) ,url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F09%2Feb%2Fcc%2F09ebcc355a67ec564980e759788c8ac2.png&f=1&nofb=1&ipt=27e094cb3b840bc756b10acc1e88e9008a2988a13707a13eebf41714bd072d2d&ipo=images");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#instalacion3 {
    background:linear-gradient(rgba(70, 131, 180, 0), rgb(0, 3, 10)) ,url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.udem.edu.mx%2Fsites%2Fdefault%2Ffiles%2F2018-11%2F2018-ingenieria-y-tecnologias-taller-de-ingenieria-carrusel-2.jpg&f=1&nofb=1&ipt=275e788f26d47ef3d56a49877af4d64324b94c3ffda317e10b2deaa67e9ac99b&ipo=images");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#instalacion4 {
    background:linear-gradient(rgba(70, 131, 180, 0),rgb(0, 3, 10)) ,url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fbc%2Fbe%2Fbb%2Fbcbebbf994c977b3aa84a8efa12c381f.jpg&f=1&nofb=1&ipt=5659628d039c253708ca0bc4e20517be46454096a18b2b3d5786a1217ded3053&ipo=images");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.instalacion:hover,
.grados:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.01);
}

#div1 {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.title {
    font-size: 10rem;
    text-align: center;
    width: 100%;
}

.subtitle {
    font-size: 1.2rem;
}

.instlacion,
.grados {
    background-color: rgb(255, 255, 255);
}

.grados>h3,
.instalacion>h3 {
    margin: .2rem;
    margin-bottom: 0rem;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
}

.instalacion>p 
.grados>p {
  margin: .2rem;
  margin-top: 0rem;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

.instalacion>a,
.grados>a {
    margin: .2rem;
    font-size: 1rem;
    text-decoration: none;
    color: gray
}

p {
    font: 1rem 'PT Sans', sans-serif;
}

#col1, #col2, #col3 {
    border-width: 0;
}

footer {
    color: grey;
    text-align: center;
}

.image {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 0.4rem;
}

#Desktop_nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-image: linear-gradient(rgb(255, 255, 255) 20%, rgba(255, 2255, 255, 100));
    padding: 3rem 2rem;
    transition: 0.4s;
    z-index: 99;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.19);
}

#Desktop_nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'PT Sans', sans-serif;
    border-radius: 2rem;
}

#Desktop_nav #logo {
    margin-left: 2%;
    margin-bottom: 0%;
    transition: 0.4s;
    max-width: 25%;
}

#Desktop_nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 2rem;
}

#Desktop_nav a.active {
    background-color: rgb(207, 172, 12);
    color: white;
}

#Desktop_nav-right {
    float: right;
    margin-right: 2rem;
}

.duper, #myLinks, a.icon {
    width: 0;
}

@media screen and (min-width: 580px) {
    html {
        font-size: 10px;
    }

    .Instalaciones,
    .Titulaciones {
        margin-top: 1rem;
    }

    .Mobile_nav {
        visibility: hidden;
        margin-top: -2rem;
    }

    #Desktop_nav #logo {
        display: flex;
        flex-shrink: 2;
        width: 16rem;
        margin: 1rem;
    }

    #div1 {
        width: 50%;
    }

    .Inicio>h1 {
        font-size: 5rem;
    }

    .Inicio>a {
        font-size: 1rem;
    }

    .Bienvenida {
        margin-top: 9rem;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 10px;
    }

    .Instalaciones,
    .Titulaciones {
        margin-top: 1vw;
    }

    .Mobile_nav {
        visibility: hidden;
        margin-top: -2rem;
    }

    #Desktop_nav a {
        font-size: 1.5rem;
    }

    #Desktop_nav #logo {
        display: flex;
        flex-shrink: 2;
        width: 16rem;
        margin: 1rem;
    }

    #div1 {
        width: 25%;
    }

    .Inicio>h1 {
        font-size: 6rem;
    }

    .Inicio>a {
        font-size: 1.2rem;
    }

    .Bienvenida {
        margin-top: 10rem;
        height: 35vw;
    }
}

@media screen and (max-width: 580px) {
    html {
        font-size: 10px;
    }

    .mobile-container {
        display: flex;
        align-items: flex-start;
        max-width: 1rem;
        background-color: rgb(255, 255, 255);
        height: 0rem;
        color: white;
    }

    .Mobile_nav {
        overflow: hidden;
        position: fixed;
        top: 0rem;
        background-color: rgb(255, 255, 255);
        width: 100%;
        z-index: 99;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.19);
    }

    .Mobile_nav #myLinks {
        display: none;
        align-items: center;
        align-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    .Mobile_nav a {
        display: flex;
        flex-wrap: nowrap;
        color: rgb(8, 8, 8);
        background-color: #dddddd00;
        padding: 1rem 1rem;
        text-decoration: none;
        font-size: 16px;
        display: block;
        font-family: 'PT Sans', sans-serif;
        border-radius: 4rem;
        padding-left: 2.5rem;
        width: 100%;
    }

    .Mobile_nav a.icon {
        background: rgba(230, 230, 230, 0);
        display: block;
        position: absolute;
        right: 0rem;
        top: 0rem;
        padding: 1.5rem 2.5rem;
        text-align: right;
    }

    .Mobile_nav a.left {
        text-wrap: nowrap;
        padding-right: 60vw;
        margin-left: 15vw;
        background-color: rgb(221, 182, 8);
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #eee;
        transition: .5s ease;
    }

    .Mobile_nav a:hover {
        color: rgb(0, 0, 0);

    }

    .Mobile_nav a.left:hover {
        background-color: rgb(183, 183, 183);
    }

    .duper {
        background-color: rgb(230, 230, 230);
        color: rgb(12, 12, 12);
        width: 11rem;
    }

    .Desktop_nav, #Desktop_nav-right, #logo, #Desktop_nav {
        visibility: hidden;
    }

    .Instalaciones,
    .Titulaciones {
        margin-top: 1vw;
    }

    #div1 {
        width: 100%;
    }

    .Inicio>h1 {
        font-size: 3.5rem;
    }

    .Inicio>a {
        font-size: 1rem;
    }

    .Bienvenida {
        margin-top: 0rem;
    }
}